:root {
  /* 🎨 צבעי הרקע */
  --background-primary-color:  rgb(236, 236, 236); /* רקע כללי ראשי */
  --background-secondary-color: rgb(160, 211, 248); /* רקע כללי משני */

  --body-text-color: #333; /* צבע טקסט כללי */
  --background-page:linear-gradient(to bottom, #ffffff 0%, #e0f7fa 100%);/* רקע כללי של  כל דף */

  /* 🎨 צבעי כפתורים */
  --button-bg: #0db7ce; /* רקע של כפתור */
  --button-hover-bg: #008c8c; /* רקע של כפתור במעבר עכבר */
  --button-click-bg: #006d6d; /* רקע של כפתור בלחיצת עכבר */
  --button-text-color: #ffffff; /* צבע טקסט בתוך כפתור */

  /* 🎨 צבעים נוספים */
  --card-bg: #ffffff; /* רקע של כרטיסים */
  --border-color: #ddd; /* צבע מסגרת */
  --link-color: #007bff; /* צבע של קישורים */
  --link-hover-color: #0056b3; /* צבע של קישורים במעבר עכבר */

  --border-radius: 12px;
}

/* Basic styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  direction: rtl;
  color: #333333;
  font-family: Arial, sans-serif;
  background: var(--background-page);
}



/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-secondary-color);
}

.navbar-logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar-links {
  list-style-type: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  border-radius: var(--border-radius);

  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover {
  background-color: #2980b9;
  box-shadow: 0 0 15px rgba(52, 152, 219, 1);
}

.navbar-hamburger-contant {
  display: none;
}

.navbar-hamburger-contant.active {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.navbar-hamburger-bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.navbar-hamburger.active {
  background-color: rgb(236, 3, 3);

  position: absolute;
  top: 6110px;
  right: 0;
  width: 100%;
  background-color: #794646;
  flex-direction: column;
  align-items: center;
  display: none;
  padding: 1rem 0;
}

.hide{
  display: none !important;
}

/* Responsive styles */
@media (max-width: 768px) {
}