/* Appointment Table Section */

.table-section{
    margin-top: 40px;  
}

table {
    width: 100%;
    background-color: var(--card-bg);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    box-shadow: 0 0 8px gray;
}

th {
    border-bottom: 1px solid rgba(128, 128, 128, 0.432);
    padding: 30px;
    text-align: right;
}

td {
    padding: 20px; 
    text-align: right;

}

tr:nth-child(even) {
    background-color: #ebebeb;
}


.more-btn,.delete-btn {
    font-weight: bold;
    font-size: 16px;
    color: var(--button-text-color);
    margin-right: 5px; 
    border: none;
    padding: 7px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.more-btn{
    background-color: var(--button-bg);
}

.more-btn:hover{
    background-color: var(--button-hover-bg);
}

.delete-btn{
    background-color: rgba(189, 0, 0, 0.774);
}

.delete-btn:hover{
    background-color: red;
}