/* Importing main variables css */
@import url("./../styles.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: var(--border-radius);
  padding: 10px;
  border: 2px solid #e0f7fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: all 1s ease; 
}

#login-form-container:hover {
  border: 6px solid #e0f7fa; 
}

#login-form-container-title {
  text-align: center;
}

#login-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form-links {
  margin-top: 5px;
  margin-bottom: 10px;
}

#login-form-button {
  color: white;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: var(--border-radius);
  background-color: var(--button-bg);
  transition: all 0.3s ease-in-out;
}

#login-form-button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: 0 0 15px rgba(52, 152, 219, 1);
}

#login-form-button:active {
    background-color: var(--button-click-bg);
}

#login-error {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Notification styling (common for success & error) */
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: #28a745; /* Green */
  color: white;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  display: none; /* Hidden by default */
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}


/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(-20px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

/* Fade-out animation */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}