/* Importing main variables css */
@import url("./../styles.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer{
  padding: 0px;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 350px;
  height: 330px;
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--container-color-glassy); /* Glassy border */

  /*  Glassy Effect */
  background: rgba(255, 255, 255, 0.15); /* Semi-transparent */
  backdrop-filter: blur(12px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(12px); /* For Safari */

  /*  Floating Shadow */
  box-shadow: var(--container-box-shadow-flaoting);

  /*  Initial Hidden State */
  opacity: 0;
  transform: scale(0.9);
  animation: popup 0.5s ease-out forwards;

  /*  Smooth Hover Effect */
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

#login-form-container:hover {
  transform: scale(1.05);
  box-shadow: var(--container-box-shadow);
}

/*  Pop-Up Animation */
@keyframes popup {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#login-form-container-title {
  text-align: center;
}

#login-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form-links {
  margin-top: 5px;
  margin-bottom: 10px;
}

#login-form-button {
  color: white;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: var(--border-radius);
  background-color: var(--button-bg);
  transition: all 0.3s ease-in-out;
}

#login-form-button:hover {
  background-color: var(--button-hover-bg);
  box-shadow: var(--button-box-shadow)
}

#login-form-button:active {
  background-color: var(--button-click-bg);
}

#login-error {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 230px;
  min-height: 20px;
}


/* Notification success*/
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: #28a745; /* Green */
  color: white;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  display: none; /* Hidden by default */
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 400px) {
  #login-form-container {
    min-width: 250px;
    width: auto;
  }
}
